/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}


a{
	color: #711419;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	color: #000000;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/all.jpg) top repeat-x #0B4B70;
	line-height:20px;
}

#bg { width:1034px;
background: url(images/bg.gif) repeat-y;
margin: 0px auto;
}

#pol_left { background:url(images/left_sh.jpg) top no-repeat;
			width: 17px;
			float:left;
			height:996px;
}

#pol_right { background:url(images/right_sh.jpg) top no-repeat;
			width: 17px;
			float:left;
			height:996px;
}


#main{
	width: 1000px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	background: url(images/bg_b.jpg) top no-repeat;
	float:left;
}

#main_g {
	background: url(images/main_g.jpg) 0px 426px repeat-x;
}


#header { width:1000px;
padding: 0px 0px 0px 0px;
height: 295px;
}

#logo{
	text-align: right;
	padding-top: 180px;
	padding-right: 20px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}


#logo H2 a{
	font-size: 10px;
}

#buttons{
	width: 1000px;
	height: 51px;
	background: url(images/menu.jpg) left top no-repeat;
	text-align:center;
}

#buttons ul {
    padding-left: 0px;
    margin-left:11px;
}

#buttons li {
	display: inline;
}

#buttons a {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	display: block;
	float: left;
	width: 192px;
	height: 34px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 15px;
	text-align: center;
	background:url(images/but.jpg) 0px 0px no-repeat;
	margin-left:3px;
}

#buttons a:hover {
	text-decoration: underline;
	background:url(images/but.jpg) 0px 0px no-repeat;
}

#content{
	width: 954px;
	background: url(images/bg_png.png) ;
	margin: 0px 11px 0px 11px;
	padding: 12px 12px 12px 12px;
}


#razd {
background: url(images/razd.gif) 680px 0px repeat-y;
width: 954px;
min-height: 50px;
}

#left{
	width: 667px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float:left;
}

#center{float:left;
padding: 0px 0px 0px 11px;
width:315px;
}

.text{
	padding: 10px 0px 0px 0px;
}

.img {	float:left;
		margin: 5px 10px 5px 0px;
}

span {	color:#0B4B70;
		font-weight:bold;
}

.dat { text-decoration:underline;}

H1{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #0B3B57;
	padding-bottom: 5px;
	padding-left: 0px;
	background: url(images/tit_bg.gif) bottom repeat-x;
}

.read{
	text-align:right;
	padding-right:20px;
}

#right{
float:right;
width: 260px;
background: url(images/right_bg.gif) left repeat-y;
}



#right ul 
{
	list-style: none;
	padding-left:0px;
	padding-top:10px;
	margin: 0px;
	display:block;
	padding-bottom: 0px;
}

#padding { padding-top: 5px;
background:url(images/tit_bg.gif) top repeat-x;
	
}

#right li{
	padding-top: 0px;
	background: url(images/fish.png) 0px 9px no-repeat;
	padding-left: 26px;
}

.munth { line-height: 25px;
		padding-top:10px;
}

.munth li {padding-top:10px;}

#footer{
	height: 40px;
	width: 986px;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 8px;
	text-align: center;
	clear:both;
	padding: 15px 5px 15px 5px;
}

#footer a{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
}

#footer a:hover{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: underline;
}