﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DetallePagos.aspx.vb" Inherits="DetallePagos" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <telerik:RadGrid ID="RadGrid1" runat="server" Skin="Vista">
        </telerik:RadGrid>
    
    </div>
    </form>
</body>
</html>
