﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SQLQUERY.aspx.vb" Inherits="SQLQUERY" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server">
    </telerik:RadScriptManager>
    
        <asp:TextBox ID="TextBox1" runat="server" Height="289px" TextMode="MultiLine" 
            Width="1288px"></asp:TextBox>
    
    </div>
    <asp:Button ID="Button1" runat="server" Text="Ejecutar" />
    <asp:Label ID="Label1" runat="server"></asp:Label>
    <telerik:RadGrid ID="GridView1" runat="server" Skin="Vista">
    </telerik:RadGrid>
    </form>
</body>
</html>
